@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  font-family: "PT Sans", sans-serif;
}

@media (min-width: 768px) {
  .ladinho {
    margin-left: auto;
    position: relative;
    display: flex;
  }
}
#titulo{
    margin-bottom: 12%;
}
.texto {
  margin: 5%;
  margin-top: 8%;
  margin-right: 5%;
  padding: 10px;
  display: inline-block;
  width: 40%;
  height: 60%;
  font-size: 1.7vw;
}

h2 {
  font-size: 3vw;
  text-align: center;
  font-weight: bold;
}

h3 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

img {
  width: 70%;
}
.imgh {
  display: inline-block;
  width: 75%;
  height: 75%;
  text-align: center;
  padding-top: 45px;
}
.container {
  width: 1150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container .card {
  position: relative;
  padding: 10px;
  width: 300px;
  background-color: white;
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
}
.container .card img {
  transition: 0.5s;
  width: 200px;
  height: 200px;
}
.container .card h1 {
  font-size: 2rem;
}
.container .card .content {
  padding: 20px;
  text-align: center;
}
.container .card .content p {
  color: #666;
}
.container .card:hover {
  background-color: rgb(0, 167, 158);
  color: white;
  margin-top: -30px;
  box-shadow: 2px 20px 25px #dc2e685d;
  border-color: rgb(0, 167, 158);
}
.container .card:hover img {
  filter: invert(1);
  width: 50%;
  height: 50%;
}
.container .card:houver .content p {
  color: white;
}
.balao {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
a {
  color: inherit;
}

.midias-sociais {
  position: relative;
  width: 30px;
  height: 30px;
}
.titulo {
  text-align: center;
}
.fundo {
  background-color: white;
  height: 48vw;
  display: flex;
}
/*fotter*/
footer {
  background-color: #FFF5EE;
  padding: 50px 50px;
}
.container-footer {
  max-width: 1400px;
  padding: 0 4%;
  margin: auto;
}
.row-footer {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 22px;
  color: #000;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}
.footer-col ul {
  list-style: none;
}
.footer-col ul li {
  margin: 10px 0;
}
.footer-col ul li p {
  font-size: 16px;
  text-transform: capitalize;
  color: FFF5EE;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col .form-sub input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid #000;
  color: #000;
  background-color: #FFF5EE;
}
.footer-col .form-sub textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid #000;
  color: #000;
  background-color: #FFF5EE;
}
.footer-col .form-sub input::placeholder {
  color: #000;
}
.footer-col .form-sub textarea::placeholder {
  color: #000;
}
.footer-col .form-sub button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #FFF5EE;
  border-radius: 3px;
  font-weight: bold;
  background-color: #000;
}

.footer-col p {
  margin-top: 30px;
}
.footer-col p a i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #000;
  height: 30px;
  width: 30px;
  margin: 0 5px 5px 0;
  text-decoration: none;
  border: 1px solid #000;
  transition: all 0.5s ease;
  font-size: 15px;
}

/* .footer-col .midias-sociais a i{
    font-size: 15px;
  }  */
/* .footer-col .midias-sociais a:hover{
    color: rgb(75,0,130);
    background-color: white;
  }  */
.icone {
  margin: 0px 20px 20px 0;
  color: #000;
  font-size: 15px;
  align-items: center;
}
/* display: inline-flex;
    align-items: center;
    justify-content: center; */
/* footer responsivo */
@media (max-width: 800px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .footer-col {
    width: 100%;
  }
}
/*fim footer*/

@media (max-width: 1110px) {
  .fundo {
    flex-direction: column;
    height: 120vw;
  }
  .texto {
    width: 80%;
    padding-left: 40px;
    font-size: 2.8vw;
    text-align: center;
  }
  .texto h2 {
    font-size: 6vw;
  }
  .imgtest {
    width: 30vw;
  }
}
#rodape{
    color: black;
    text-align: justify;
}