@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  background-color: #FFF5EE;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-attachment: fixed;
}

.container {
  max-width: 600px;
  width: 30%;
  margin-top: 10%;
  background-color: white;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .titulo {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .titulo::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #FFEFD5, #FFC0CB);
}

.content form .detalhes_usuario {
  display: inside;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .detalhes_usuario .input-box {
  margin-bottom: 15px;
  width: 100%;
}

form .input-box span.detalhes {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.detalhes_usuario .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.detalhes_usuario .input-box input:focus,
.detalhes_usuario .input-box input:valid {
  border-color: #000;
}

form .detalhes_genero .titulo_genero {
  font-size: 20px;
  font-weight: 500;
}

form .categoria {
  display: flex;
  width: 95%;
  margin: 14px 0;
  justify-content: space-between;
}

form .categoria label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .categoria label .ponto {
  height: 18px;
  width: 18px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

form input[type="radio"] {
  display: none;
}

.botao {
    margin-top: 6%;
    text-align: center;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .detalhes_usuario .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .detalhes_genero .categoria {
    width: 100%;
  }

  .content form .detalhes_usuario {
    max-height: 300px;
    overflow-y: scroll;
  }

  .detalhes_usuario::-webkit-scrollbar {
    width: 0px;
  }
}

@media (max-width: 459px) {
  .container .content .categoria {
    flex-direction: column;
  }
}
a{
    color: black;
}
.resposta {
  display: grid;
  height: 100%;
  place-items: center;
}
.link_home {
    float: right;
    font-size: 18px;
    margin-top: 20px;
  }
.link_home :hover{
    color: #DC143C;
}
.link_cad{
    margin-top: 6%;
    text-align: center;
}